<%- include("../partials/header.ejs") %>

<h1> New Cohort </h1>
<form action="/cohorts" method="POST">

    <%- include("../partials/formInput.ejs") %>

    <br>


    <input type="submit" value = "Create Cohort" class = "btn btn-primary">
    
</form>

<%- include("../partials/footer.ejs") %>