<%- include("../partials/header.ejs") %>

<div class = "card mb-4">
    <div class = "card-body">
        <h5> <%- cohort.name %> </h5>
        <p class = "card-text">
            <%- cohort.members %>
        </p>

    </div>
    

</div>



<%- include("../partials/footer.ejs") %>