<%- include("./partials/header.ejs") %>

<div>
    
    <h3 class = "header"> <%- title %> </h3>

</div>

 <br>

<p> Need help finding a new cohort name?
     Use our name generator below! </p>

     

<%- include("./partials/footer.ejs") %>
  
