<%- include("./partials/header.ejs") %>

    <div>

        <h5>
            <%- title %>
        </h5>

    </div>
    <form action="/cohorts">

        <div>
        <label for="logoUrl"> Logo Url </label>
        <br>
        <input type="text" id = "logoUrl" name = "logoUrl" placeholder = "e.g. https://www.example.com/somepng">
        </div>

        <div>
        <label for="name"> Name </label>
        <br>
        <input type="text" id = "name" name = "name" placeholder = "Flying Funks">
        </div>

        <div>
            <label for="members">Members</label>
            <div>
            <textarea name="members" id="members" cols="50" rows="5" placeholder="Jon Snow, Daenerys, Melisandre, Arya Stark"></textarea>
            </div>
        </div>

        <div>
            <button type="submit">Submit</button>
        </div>





    </form>

  



<%- include("./partials/footer.ejs") %>