<div>
    <input type="text"
    class = "form-group"
    name = "name"
    placeholder = " Flying Funks"
    
     />

    <textarea
    class = "form-group"
    name = "members"
    placeholder = "Jon Snow, Daenerys, Melisandre, Arya Stark"
    >
    </textarea>
    
    <input type="text"
    class = "form-group"
    name = "imageUrl"
    placeholder = "e.g. https://www.example.com/somepng"
    
     />
</div>

